{% block content %}

{% load staticfiles %}

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <ul class="soc">
            <li><a class="soc-linkedin" href="https://www.linkedin.com/in/greg-anderson-cs"></a></li>
            <li><a class="soc-github" href="https://github.com/greganderson"></a></li>
            <li><a class="soc-blogspot" href="http://thescientifichacker.blogspot.com/"></a></li>
        </ul>
    </div>
    <div class="col-lg-4"></div>
</div>
{% endblock %}





