{% block content %}
{% load staticfiles %}
<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Check out HoloPhysics<span class="text-muted">Three modules to pick from</span></h2>
        <p class="lead">HoloPhysics allows you to see things that you can't in real life. See vectors as they change in real time.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="{% static 'img/menu.png' %}" alt="Generic placeholder image">
    </div>
</div>
{% endblock %}
