{% extends "../../header.html" %}
{% block content %}

{% load staticfiles %}

<hr>
<hr>
<div class="container">
    <div class="container-fluid">

        <center>
            <img src="{% static 'img/yu.jpg' %}"
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
            <h3 class="media-heading">Yu Song</h3>
            <h3>
                <small>Computer Science</small>
            </h3>

            {% include "members/yu/includes/social-media.html" %}

            <span><strong>Skills: </strong></span>
            <span class="label label-warning">Java</span>
            <span class="label label-info">REST</span>
            <span class="label label-info">Eclipse</span>
            <span class="label label-success">Bootstrap</span>
        </center>
        <hr>
        <center>
            <p class="text-left"><strong>Bio: </strong><br>
                Computer Science Student
            </p>
            <br>
        </center>


        <!--<center>-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe-->
        <!--</button>-->
        <!--</center>-->

    </div>

    <!--</div>-->
</div>

{% endblock %}