{% block content %}

{% load staticfiles %}

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <ul class="soc">
            <li><a class="soc-linkedin" href="https://www.linkedin.com/in/jesus-zarate"></a></li>
            <li><a class="soc-github" href="https://github.com/zarate8"></a></li>
            <!--<li><a class="soc-twitter" href="#"></a></li>-->
            <!--<li><a class="soc-facebook" href="#"></a></li>-->
            <li><a class="soc-googleplus" href="https://plus.google.com/u/1/113746164491430119519"></a></li>
            <!--<li><a class="soc-pinterest" href="#"></a></li>-->
            <!--<li><a class="soc-rss" href="#"></a></li>-->
            <li><a class="soc-google soc-icon-last" href="mailto:jesus.zarate.eng@gmail.com"></a></li>
        </ul>
    </div>
    <div class="col-lg-4"></div>
</div>
{% endblock %}





