{% extends "../../header.html" %}
{% block content %}

{% load staticfiles %}

<hr><hr>
<div class="container">
    <div class="container-fluid">

        <center>
            <img src="{% static 'img/Greg.jpg' %}"
                 name="aboutme" width="140" height="140" border="0" class="img-circle"></a>


            <h3 class="media-heading">Greg Anderson</h3>

            <h3><small>Computer Science</small></h3>

            {% include "members/greg/includes/social-media.html" %}


            <span><strong>Skills: </strong></span>
            <span class="label label-warning">Java</span>
            <span class="label label-info">Python</span>
            <span class="label label-info">C#</span>
            <span class="label label-success">Unix Terminal</span>
        </center>
        <hr>
        <center>
            <p class="text-left"><strong>Bio: </strong><br>
                My first time programming was in 2012 making a tip calculator using Python.  Ever since that day, I have loved
				to program.  Now I am creating applications for Microsoft HoloLens!
            </p>
            <br>
        </center>


        <!--<center>-->
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe-->
            <!--</button>-->
        <!--</center>-->

    </div>

    <!--</div>-->
</div>

{% endblock %}
