{% extends "../../header.html" %}
{% block content %}

{% load staticfiles %}

<hr>
<hr>

<div class="container">
    <div class="container-fluid">

        <center>
            <img src="{% static 'img/profile.jpg' %}"
                 name="aboutme" width="140" height="140" border="0" class="img-circle"></a>

            <h3 class="media-heading">Jesus Zarate</h3>

            <h3><small>Computer Science</small></h3>

            {% include "members/chuy/includes/social-media.html" %}


            <span><strong>Skills: </strong></span>
            <span class="label label-warning">Java</span>
            <span class="label label-warning">C#</span>
            <span class="label label-warning">C</span>
            <span class="label label-warning">Python</span>
            <span class="label label-warning">JavaScript</span>
            <span class="label label-warning">HTML5/CSS</span>
            <br>
            <span class="label label-info">MySQL</span>
            <span class="label label-info">MongoDB</span>
            <span class="label label-info">SybaseIQ</span>
            <br>
            <span class="label label-success">Spring Framework</span>
            <span class="label label-success">Django</span>
            <span class="label label-success">Flask</span>
            <span class="label label-success">Bootstrap</span>
            <br>
            <span class="label label-danger">Windows</span>
            <span class="label label-danger">Linux</span>
            <span class="label label-danger">OSX</span>

        </center>

        <br>

        <hr>
        <center>
            <p class="text-left"><strong>Bio: </strong><br>
                Computer Science student at the University of Utah.
            </p>
            <br>
        </center>


        <!--<center>-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe-->
        <!--</button>-->
        <!--</center>-->

    </div>

    <!--</div>-->
</div>

{% endblock %}