{% block content %}
{% load staticfiles %}

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Physics simulation application <span class="text-muted">Using the Hololens</span></h2>
        <p class="lead">

        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="{% static 'img/hololens.jpg' %}" data-src="{% static '/img/hololens.jpg' %}" alt="Women using hololens">
    </div>
</div>
{% endblock %}
