{% block content %}
{% load staticfiles %}

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">HoloPhysics Tutorial <span class="text-muted">Kinematics</span></h2>
        <p class="lead">

        </p>
    </div>
    <div class="col-md-5">
        <!--<img class="featurette-image img-responsive center-block" src="{% static 'img/hololens.jpg' %}" data-src="{% static '/img/hololens.jpg' %}" alt="Women using hololens">-->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PAf70zoWWfc" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
