<!-- NAVBAR
================================================== -->
{% extends "../header.html" %}
{% block content %}

{% load staticfiles %}

<body>

<!-- Carousel
================================================== -->
{% include "team/includes/carousel.html" %}


<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">

    <h1 class="text-center">Meet team JarPhys</h1>
    <hr class="featurette-divider">
    {% include "team/includes/individualTeamPictures.html" %}

     <!--START THE FEATURETTES-->
    <hr class="featurette-divider">

    {% include "team/includes/leftFeaturette.html" %}

    <hr class="featurette-divider">

    {% include "team/includes/rightFeaturette.html" %}
    {% include "team/includes/groupPhoto.html" %}

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->


    <!--<iframe class="coll-12"-->
    <!--src="https://docs.google.com/document/d/1oXKimRcJC3xF7svFjuSIpnpCcBJusXK2ZsAAzW87QhE/pub?embedded=true"-->
    <!--width="1200" height="2000"></iframe>-->

    <hr class="featurette-divider">

    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="{% static 'js/vendor/holder.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

</body>

{% endblock %}
