{% block content %}

{% load staticfiles %}

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <ul class="soc">
            <li><a class="soc-linkedin" href="#"></a></li>
            <li><a class="soc-github" href="#"></a></li>
            <li><a class="soc-twitter" href="#"></a></li>
            <li><a class="soc-facebook" href="#"></a></li>
            <li><a class="soc-googleplus" href="#"></a></li>
            <!--<li><a class="soc-pinterest" href="#"></a></li>-->
            <!--<li><a class="soc-rss" href="#"></a></li>-->
            <li><a class="soc-google soc-icon-last" href="#"></a></li>
        </ul>
    </div>
    <div class="col-lg-4"></div>
</div>
{% endblock %}





